<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="chat-room.css">
  <title>Pochat Chatroom</title>
</head>

<body>
  <h1 class="title">WELCOME TO THE CHAT ROOM</h1>
  <div class="container">
    <div class="users" id="users">
      <div class="user-rank">
          <button class="user">Users</button>
          <button class="rank">Rank</button>
        </div>
        <div class="content"></div>
    </div>

      <div class="chat-board">
          <div  class="message-display" id="msgDisplay"></div>

          <form action="" id="chats">
            <input type="text" class="input" id="inputChat">
            <button id="send" class="button-send">send</button>
          </form>
      </div>
    </div>
    <footer>
      <div class="footer">
        <p>Learnfactory Nigeria</p>
      </div>
    </footer>
  <script src="../src/app.js"></script>
</body>

</html>